@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --black: #1c2a39;
  --gray: #5c6a79;
  --purple: #4c3db2;
}
.navbar {
  height: 120px;
  width: 80%;
  margin-left: 10%;
}

.menu__icons,
.menu {
  list-style-type: none;
  display: flex;
  font-size: 20px;
  color: var(--gray);
  cursor: pointer;

}

.menu li,
.menu__icons li {
  margin: 0 10px;
}

.menu .active {
  color: var(--black);

}

.basket_icon {
  position: relative;
}

.basket_count {
  position: absolute;
  right: -0.7em;
  bottom: 0;
  width: 20px;
  height: 20px;
  background-color: var(--black);
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;



}
.slider{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
}
.slider img {
  height: 600px;
}

.store{
  width: 80%;
  margin-left: 10%;
  height: 100px;
}
.book_card{
  height: 400px;
   
}